<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817283684028-ea6a84r0755h0tbemde41sqto790a0cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817283684028-ea6a84r0755h0tbemde41sqto790a0cb</string>
	<key>API_KEY</key>
	<string>AIzaSyBsHF6kqFKGWzqlxFz6Pyqec3NU4NFU3Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>817283684028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bjit.newsapp.discover</string>
	<key>PROJECT_ID</key>
	<string>test-a041e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a041e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817283684028:ios:c4b54711d17bedeaae22b9</string>
</dict>
</plist>